body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
header {
  padding: 10px 0;
  background: #2196f3;
  color: #fff;
  text-align: center;
  font: 400 20px/normal Verdana, Helvetica, Arial, sans-serif;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 10vh auto;
  width: 600px;
  height: 80vh;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.button {
  background: #df004c;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-centered {
  box-sizing: border-box;
  text-align: center;
  font-weight: 400;
}
.button-menu {
  height: 60px;
  border-radius: 4px;
  line-height: 60px;
}
.button-menu:active {
  box-shadow: inset 3px 3px 4px 1px rgba(0,0,0,0.2);
}
.button-game {
  height: 30px;
  border-radius: 3px;
  line-height: 30px;
  width: 100%;
  margin-bottom: 12px;
}
.button-game:active {
  box-shadow: inset 2px 2px 4px 1px rgba(0,0,0,0.2);
}
.button:hover,
.button:active {
  background-color: #ff0057;
}
.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 10vh auto;
  width: 600px;
  height: 80vh;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.board-game-menu {
  position: absolute;
  z-index: 500;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.board-game-menu-info {
  font-size: 12px;
  text-align: center;
}
.puzzle {
  border: 1px solid #00903c;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  background: #00903c url(/images/pattern.svg) repeat;
  will-change: transform;
}
.menu-width {
  width: 400px;
}
.block {
  margin-top: 46px;
  text-align: center;
}
.block-title {
  position: relative;
  top: -26px;
  display: inline-block;
  padding: 4px 12px;
  background: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.block-options {
  position: relative;
  top: -15.6px;
  font-size: 12px;
}
.block-options-item {
  display: inline-block;
  margin: 0 12px;
  padding: 12px;
  border-radius: 4px;
  background: #e1e1e1;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.block-options-item-active:hover {
  background: #f1f1f1;
}
.block-options-item-active:active {
  background: #f5f5f5;
  box-shadow: inset 1px 1px 4px 1px rgba(0,0,0,0.2);
}
.block-options-item-selected {
  background: #f5f5f5;
  box-shadow: inset 1px 1px 4px 1px rgba(0,0,0,0.2);
  cursor: auto;
}
._3kiQWo {
  -webkit-animation: _2GVRvD ease-in-out, _1Pst8o steps(1);
  animation: _2GVRvD ease-in-out, _1Pst8o steps(1);
}
.vsFxrw {
  -webkit-animation: _2GVRvD ease-in-out, _2MXAZR steps(1);
  animation: _2GVRvD ease-in-out, _2MXAZR steps(1);
}
._3eTMQs {
  -webkit-animation: _2GVRvD ease-in-out, _2prDJW steps(1);
  animation: _2GVRvD ease-in-out, _2prDJW steps(1);
}
._2L1_Qk {
  -webkit-animation: _2GVRvD ease-in-out, _2_noVz steps(1);
  animation: _2GVRvD ease-in-out, _2_noVz steps(1);
}
._2hVB2a {
  -webkit-animation: _2GVRvD ease-in-out, _1sRuJP steps(1);
  animation: _2GVRvD ease-in-out, _1sRuJP steps(1);
}
._1mky_v {
  -webkit-animation: _2GVRvD ease-in-out, _30hXA6 steps(1);
  animation: _2GVRvD ease-in-out, _30hXA6 steps(1);
}
._14ieiu {
  -webkit-animation: _2GVRvD ease-in-out, _1STrSp steps(1);
  animation: _2GVRvD ease-in-out, _1STrSp steps(1);
}
._1HHKJ5 {
  -webkit-animation: _2GVRvD ease-in-out, XGMVlg steps(1);
  animation: _2GVRvD ease-in-out, XGMVlg steps(1);
}
._3rD_iQ {
  -webkit-animation: _2GVRvD ease-in-out, _1qqGGe steps(1);
  animation: _2GVRvD ease-in-out, _1qqGGe steps(1);
}
._26BKsP {
  -webkit-animation: _2GVRvD ease-in-out, _3dscAZ steps(1);
  animation: _2GVRvD ease-in-out, _3dscAZ steps(1);
}
._2wW024 {
  -webkit-animation: _2GVRvD ease-in-out, _1dUfnA steps(1);
  animation: _2GVRvD ease-in-out, _1dUfnA steps(1);
}
._1dWX-V {
  -webkit-animation: _2GVRvD ease-in-out, _2yZMhs steps(1);
  animation: _2GVRvD ease-in-out, _2yZMhs steps(1);
}
._2J0uSF {
  -webkit-animation: _2GVRvD ease-in-out, _1hH4iM steps(1);
  animation: _2GVRvD ease-in-out, _1hH4iM steps(1);
}
._2SsO7X {
  -webkit-animation: _2GVRvD ease-in-out, y1Kvnf steps(1);
  animation: _2GVRvD ease-in-out, y1Kvnf steps(1);
}
._3T9Sg3 {
  -webkit-animation: _2GVRvD ease-in-out, _2Jcnwf steps(1);
  animation: _2GVRvD ease-in-out, _2Jcnwf steps(1);
}
._1j8JBZ {
  -webkit-animation: _2GVRvD ease-in-out, lQB5Hj steps(1);
  animation: _2GVRvD ease-in-out, lQB5Hj steps(1);
}
._2wrbUf {
  -webkit-animation: _2GVRvD ease-in-out, o8FR4V steps(1);
  animation: _2GVRvD ease-in-out, o8FR4V steps(1);
}
._2IV6Hk {
  -webkit-animation: _2GVRvD ease-in-out, wyLVX_ steps(1);
  animation: _2GVRvD ease-in-out, wyLVX_ steps(1);
}
._1obnRO {
  -webkit-animation: _2GVRvD ease-in-out, wE9rKU steps(1);
  animation: _2GVRvD ease-in-out, wE9rKU steps(1);
}
.CgdZO9 {
  -webkit-animation: _2GVRvD ease-in-out, qfomPR steps(1);
  animation: _2GVRvD ease-in-out, qfomPR steps(1);
}
.cbLZk2 {
  -webkit-animation: _2GVRvD ease-in-out, _1OTggF steps(1);
  animation: _2GVRvD ease-in-out, _1OTggF steps(1);
}
._3WqNhg {
  -webkit-animation: _2GVRvD ease-in-out, KByxMK steps(1);
  animation: _2GVRvD ease-in-out, KByxMK steps(1);
}
._2rdhr8 {
  -webkit-animation: _2GVRvD ease-in-out, _3OEcSJ steps(1);
  animation: _2GVRvD ease-in-out, _3OEcSJ steps(1);
}
._3aSKcA {
  -webkit-animation: _2GVRvD ease-in-out, _3yOAtN steps(1);
  animation: _2GVRvD ease-in-out, _3yOAtN steps(1);
}
._1JAsPT {
  -webkit-animation: _2GVRvD ease-in-out, _3_6n0M steps(1);
  animation: _2GVRvD ease-in-out, _3_6n0M steps(1);
}
._1FEM-x {
  -webkit-animation: _2GVRvD ease-in-out, _3-cRGy steps(1);
  animation: _2GVRvD ease-in-out, _3-cRGy steps(1);
}
._1lLPpp {
  -webkit-animation: _2GVRvD ease-in-out, _1A9Z40 steps(1);
  animation: _2GVRvD ease-in-out, _1A9Z40 steps(1);
}
._229veP {
  -webkit-animation: _2GVRvD ease-in-out, _13FTYP steps(1);
  animation: _2GVRvD ease-in-out, _13FTYP steps(1);
}
._3cRZuu {
  -webkit-animation: _2GVRvD ease-in-out, _1ThFpy steps(1);
  animation: _2GVRvD ease-in-out, _1ThFpy steps(1);
}
.RviMrP {
  -webkit-animation: _2GVRvD ease-in-out, _1zZUhZ steps(1);
  animation: _2GVRvD ease-in-out, _1zZUhZ steps(1);
}
.G0BUUO {
  -webkit-animation: _2GVRvD ease-in-out, _2ckz8e steps(1);
  animation: _2GVRvD ease-in-out, _2ckz8e steps(1);
}
.A1vehD {
  -webkit-animation: _2GVRvD ease-in-out, _1DLZ_D steps(1);
  animation: _2GVRvD ease-in-out, _1DLZ_D steps(1);
}
._3ZH1NQ {
  -webkit-animation: _2GVRvD ease-in-out, _1YBmU9 steps(1);
  animation: _2GVRvD ease-in-out, _1YBmU9 steps(1);
}
._2zhJVW {
  -webkit-animation: _2GVRvD ease-in-out, _1_pnJP steps(1);
  animation: _2GVRvD ease-in-out, _1_pnJP steps(1);
}
.puzzle-animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.puzzle-animated-delayed {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.puzzle-animated-paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
@-webkit-keyframes _1Pst8o {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/accessibility.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/accessibility.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1Pst8o {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/accessibility.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/accessibility.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _2MXAZR {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/airplane.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/airplane.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _2MXAZR {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/airplane.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/airplane.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _2prDJW {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/appleinc.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/appleinc.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _2prDJW {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/appleinc.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/appleinc.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _2_noVz {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/bell.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/bell.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _2_noVz {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/bell.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/bell.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1sRuJP {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/bin2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/bin2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1sRuJP {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/bin2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/bin2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _30hXA6 {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/book.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/book.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _30hXA6 {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/book.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/book.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1STrSp {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/briefcase.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/briefcase.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1STrSp {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/briefcase.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/briefcase.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes XGMVlg {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/camera.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/camera.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes XGMVlg {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/camera.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/camera.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1qqGGe {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/clock2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/clock2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1qqGGe {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/clock2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/clock2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _3dscAZ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/clubs.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/clubs.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _3dscAZ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/clubs.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/clubs.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1dUfnA {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/confused2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/confused2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1dUfnA {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/confused2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/confused2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _2yZMhs {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/crying2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/crying2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _2yZMhs {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/crying2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/crying2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1hH4iM {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/database.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/database.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1hH4iM {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/database.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/database.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes y1Kvnf {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/diamonds.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/diamonds.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes y1Kvnf {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/diamonds.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/diamonds.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _2Jcnwf {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/drive.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/drive.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _2Jcnwf {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/drive.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/drive.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes lQB5Hj {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/droplet.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/droplet.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes lQB5Hj {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/droplet.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/droplet.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes o8FR4V {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/evil2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/evil2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes o8FR4V {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/evil2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/evil2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes wyLVX_ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/frustrated2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/frustrated2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes wyLVX_ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/frustrated2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/frustrated2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes wE9rKU {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/headphones.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/headphones.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes wE9rKU {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/headphones.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/headphones.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes qfomPR {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/heart.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/heart.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes qfomPR {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/heart.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/heart.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1OTggF {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/hipster2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/hipster2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1OTggF {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/hipster2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/hipster2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes KByxMK {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/home.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/home.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes KByxMK {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/home.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/home.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _3OEcSJ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/key2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/key2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _3OEcSJ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/key2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/key2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _3yOAtN {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/mic.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/mic.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _3yOAtN {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/mic.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/mic.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _3_6n0M {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/mug.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/mug.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _3_6n0M {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/mug.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/mug.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _3-cRGy {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/music.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/music.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _3-cRGy {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/music.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/music.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1A9Z40 {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/office.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/office.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1A9Z40 {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/office.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/office.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _13FTYP {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/pacman.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/pacman.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _13FTYP {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/pacman.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/pacman.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1ThFpy {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/smile2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/smile2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1ThFpy {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/smile2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/smile2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1zZUhZ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/spades.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/spades.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1zZUhZ {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/spades.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/spades.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _2ckz8e {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/tongue2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/tongue2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _2ckz8e {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/tongue2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/tongue2.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1DLZ_D {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/trophy.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/trophy.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1DLZ_D {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/trophy.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/trophy.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1YBmU9 {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/truck.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/truck.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1YBmU9 {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/truck.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/truck.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _1_pnJP {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/user.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/user.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@keyframes _1_pnJP {
  0% {
    background: puzzle-color url(/images/pattern.svg) repeat;
  }
  50% {
    background: #fff url(/images/icons/user.svg) no-repeat center center;
    background-size: 60% 60%;
  }
  100% {
    background: #fff url(/images/icons/user.svg) no-repeat center center;
    background-size: 60% 60%;
  }
}
@-webkit-keyframes _2GVRvD {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes _2GVRvD {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

/*# sourceMappingURL=main.css.map*/