@require "common.styl"
@require "button.styl"

puzzle-size = 55px

.board
	center()

	&-game-menu
		position: absolute
		z-index: 500
		top: 10px
		left: 0
		right: 0
		margin: 0 auto

		&-info
			font-size: 12px
			text-align: center

puzzle-color = #00903C
puzzle-color-shadow = darken(puzzle-color, 30%)
puzzle-color-shadow-highlight = lightness(hue(puzzle-color, 30deg), 50%)

.puzzle
	border: 1px solid puzzle-color
	border-radius: 6px
	box-sizing: border-box
	cursor: pointer
	transition:  box-shadow 200ms ease-in-out
	background: puzzle-color url("../images/pattern.svg") repeat
	will-change: transform



