body-font = Verdana, Helvetica, Arial, sans-serif

center()
	display: flex
	flex-direction: row
	margin: 10vh auto
	width: 600px
	height: 80vh
	align-content: center
	flex-wrap: wrap
	justify-content: center

bnt-reset()
	border: none
	outline: none

body
	margin: 0
	padding: 0
	font-family: body-font

header
	padding: 10px 0
	background: #2196F3
	color: white
	text-align: center
	font: 400 20px / normal body-font

.main
	center()
